.img-rounded {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* .container {
    background-color: white;
} */

#home {
    color: black;
    font-size: 25px;
}


#projects {
    color: black;
    font-size: 25px;
}

.jumbotron {
    font-family: Georgia;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
    line-height: 26.4px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: beige;
}

#bio {
    background-color: white;
    padding: 2%;
}

#school-zone {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 15px;
}

#sos {
    max-width: 100%;
    max-height: 100%;
    margin-top: 15px;
}

body {
    /* background-image: url("../images/ukv.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: beige;
}

/* .third-row {
    display: none;
} */

.bottom-row {
    text-align: center;
    background-color: beige;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 0%;
}
 
