body {
  background-color: rgba(163, 189, 206, 0.986);
  font-family: Verdana, Geneva, sans-serif;
  background-image: url("../images/headshot.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

nav {
  margin: 2% 2% 0% 2%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: rgb(204, 85, 0);
}

li {
  display: inline;
  color: rgb(204, 85, 0);
  margin-left: 10px;
  font-size: 30px;
}

#summary {
  font-size: 18px;
}

.fa {
  color: rgb(204, 85, 0);
  float: right;
  font-size: 48px;
  text-decoration: none;
  margin-left: 10px;
}

.fa:hover {
  text-decoration: none;
}

#photo {
  max-width: 100%;
  max-height: 100%;
}

#bio {
  margin: 4% 0% 10% 0%;
  float: left;
  font-size: 16px;
  color: ghostwhite;
}

#school-zone {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 15px;
}

#sos {
  max-width: 100%;
  max-height: 100%;
  margin-top: 15px;
}

#friend {
  max-width: 100%;
  max-height: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer {
  position: relative;
  margin: 3% 0% 0% 0%;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  color: rgb(204, 85, 0);
  font-size: 16px;
}

#school-header {
  color: rgb(204, 85, 0);
  text-align: left;
}

#sos-header {
  color: rgb(204, 85, 0);
  text-align: left;
}

#friend-header {
  color: rgb(204, 85, 0);
  text-align: left;
}

.app-info {
  color: ghostwhite;
}

@media screen and (max-width: 1200px) {
  body {
    background-color: rgba(163, 189, 206, 0.986);
    font-family: Verdana, Geneva, sans-serif;
    background-image: url("../images/headshot.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media screen and (max-width: 992px) {
  #school-zone {
    margin-top: 30%;
  }
  
  .fifth-row{
   float: left;;
  }
